<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="padreproyecto-app">
  <template>

    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy tu padre</h1>
    <!-- <login-usuario id= "emi"  on-mieventologin="procesar"></login-usuario>
    <visor-cuentas id= "recep"></visor-cuentas> -->
    <login-usuario hidden$={{estoylogado}} id="lgu" on-mieventologin="procesarLogado"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="vsc"></visor-cuentas>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreproyectoApp extends Polymer.Element {
      static get is() { return 'padreproyecto-app'; }
      static get properties() {
        return {
          estoylogado: {
            type : Boolean,
            value : false
          }
        };
      }
      procesar(e){
        console.log("Emisor me ha dicho algo")
        console.log(e)
        this.$.recep.mostrarCuentas(e.detail)
      }
      procesarLogado(e){
        var id = e.detail.id
        this.$.vsc.obtenerCuentas(id)
        this.estoylogado = true // es lo mismo que hacer this.set(estoylogado, true)
      }
    }

    window.customElements.define(PadreproyectoApp.is, PadreproyectoApp);
  </script>
</dom-module>
