<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor</h1>
    <button on-click="enviarEvento">Púlsame</button>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {
        };
      }
      /** Creamos esta emisor-app pq queremos desacoplar dos componentes. Uno será pe el login y otro el mostrar
      movimientos. Crearemos un componente padre que gestionará los eventos de sus componentes hijos.
      */
      enviarEvento(e) {
        console.log("ON-CLICK", "Alguien ha pulsado el botón")
        console.log(e)
        this.dispatchEvent(new CustomEvent("mievento", {"detail":{"curso":"TechU", "anno":2018}}))
      }
    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
